table#dataTable > tbody > tr > td:hover {
  cursor: pointer;
}
table#dataTable > tbody > tr > td:last-child:hover {
  cursor: auto;
}
table#dataTable > tbody > tr.active {
  background-color: #ddd;
  opacity: 0.7;
}
.disableButton {
  margin-right: 0.25rem !important;
}

.disableButton span:first-child,
#deleteModalByButton span:first-child {
  margin-right: 0.5rem !important;
}

#content
  > div
  > div.card.shadow.mb-4
  > div.card-header.py-3.d-sm-flex.align-items-center.justify-content-between
  > div
  > select {
  width: 40%;
}

#rowSelect {
  opacity: 0;
}

/* Responsive */
@media screen and (max-width: 991px) {
  .actionMenu button {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }

  #content
    > div
    > div.d-sm-flex.align-items-center.justify-content-between.mb-4 {
    flex-wrap: wrap;
  }

  #content
    > div
    > div.d-sm-flex.align-items-center.justify-content-between.mb-4
    .actionMenu {
    margin: 1rem;
  }
}

@media screen and (max-width: 651px) {
  #content
    > div
    > div.card.shadow.mb-4
    > div.card-header.py-3.d-sm-flex.align-items-center.justify-content-between
    > h6:nth-child(1) {
    display: none;
  }
  #content
    > div
    > div.d-sm-flex.align-items-center.justify-content-between.mb-4
    .actionMenu {
    margin: 1rem 0;
  }

  #dataTable_wrapper > div:nth-child(1) {
    justify-content: flex-start !important;
  }
}

td.details-control {
  background: url("../img/details_open.png") no-repeat center center;
  cursor: pointer;
}
tr.details td.details-control {
  background: url("../img/details_close.png") no-repeat center center;
}
